<div class="container-fluid p-0 mt-5">
    <footer class="bg-primary p-4 text-center">
        <img src="{{ 'assets/images/logo-tircz-bezmodre.png'|theme }}" class="ms-5 me-5 d-none d-lg-inline" style="height: 100px;" alt="logo">
        <span class="text-white">TIRCZ s.r.o.</span>
        <span class="mx-sm-3 text-white">ičo: 19109628</span>
        <span class=" text-white">
            <a href="tel:+420 602 873 731" target="_blank" class="text-decoration-none">
                +420 602 873 731
            </a>
        </span>
        <span class="mx-sm-3 text-white">
            <a href="mailto:milan.skorepa@tircz.eu" target="_blank" class="text-decoration-none">
                milan.skorepa@tircz.eu
            </a>
        </span>
        <span class="text-white">
            <a href="{{ 'homepage'|theme }}" class="text-decoration-none">
                www.tircz.eu
            </a>
        </span>
    </footer>
</div>
