<div class="container-fluid p-0 mt-5">
    <footer class="bg-primary p-4 text-center">
        <img src="{{ 'assets/images/logo-tircz-bezmodre.png'|theme }}" class="ms-5 me-5 d-none d-lg-inline" style="height: 100px;" alt="logo">
        <span class="text-white">TIRCZ.EU r.i.po</span>
        <span class="mx-sm-3 text-white">ičo: 4562154</span>
        <span class=" text-white">+420 62 873 731</span>
        <span class="mx-sm-3 text-white">milan.skorepa@tircz.eu</span>
        <span class="text-white">www.tircz.eu</span>
    </footer>
</div>
