url = "/kontakty"
layout = "default"
title = "Kontakty"

[collection categories]
handle = "Contacts\Category"

[collection contacts]
handle = "Contacts\Contact"

[section content]
handle = "Contacts\Content"
==
{% set items = {
    "produkty": {
        "title": "Kontakty",
        "active": true,
    }
} %}

{% partial "breadcrumb" items=items %}

<div class="container-fluid pb-5" id="contacts">
    <div class="container-lg py-xl-4">
        <h1 class="mb-4 mb-xl-5">
            Kontakty
        </h1>

        <h2 class="h3 mb-4">
            Obchodní regiony
        </h2>

        <div class="regions row row-cols-1 g-3 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 mb-80">
            <div class="region col">
                <a href="{{ "kontakty-region-sever"|page }}" class="d-flex align-items-center border border-1 border-gray-dark p-2 rounded-3 text-decoration-none transition">
                    <span class="img me-3 mi-40 d-inline-flex align-items-center justify-content-between bg-secondary rounded-3">
                        <img src="{{ 'assets/images/logo-sm.svg'|theme }}" alt="stachema" class="img-fluid w-100 of-none">
                    </span>

                    <span class="title fs-13 fw-medium ls-n02 text-secondary transition lh-19 me-3">
                        Region Sever
                    </span>

                    <span class="mi mi-caret-right mi-12 bg-secondary ms-auto"></span>
                </a>
            </div>

            <div class="region col">
                <a href="{{ "kontakty-region-jih"|page }}" class="d-flex align-items-center border border-1 border-gray-dark p-2 rounded-3 text-decoration-none transition">
                    <span class="img me-3 mi-40 d-inline-flex align-items-center justify-content-between bg-secondary rounded-3">
                        <img src="{{ 'assets/images/logo-sm.svg'|theme }}" alt="stachema" class="img-fluid w-100 of-none">
                    </span>

                    <span class="title fs-13 fw-medium ls-n02 text-secondary transition lh-19 me-3">
                        Region Jih
                    </span>

                    <span class="mi mi-caret-right mi-12 bg-secondary ms-auto"></span>
                </a>
            </div>

            <div class="region col">
                <a href="{{ "kontakty-region-morava"|page }}" class="d-flex align-items-center border border-1 border-gray-dark p-2 rounded-3 text-decoration-none transition">
                    <span class="img me-3 mi-40 d-inline-flex align-items-center justify-content-between bg-secondary rounded-3">
                        <img src="{{ 'assets/images/logo-sm.svg'|theme }}" alt="stachema" class="img-fluid w-100 of-none">
                    </span>

                    <span class="title fs-13 fw-medium ls-n02 text-secondary transition lh-19 me-3">
                        Region Morava
                    </span>

                    <span class="mi mi-caret-right mi-12 bg-secondary ms-auto"></span>
                </a>
            </div>
        </div>

        {% for category in categories.where("slug", "hlavni-kontakty").first.children %}
            {% if loop.index == 1 %}
                <div class="row row-cols-1 row-cols-md-2">
                    <div class="col d-flex align-items-center">
                        <div>
                            <h2 class="mb-4">
                                {{ category.title }}
                            </h2>

                            {% partial "contact" contact=category %}
                        </div>
                    </div>

                    <div class="col mt-32 mt-md-0 d-flex align-items-center justify-content-end">
                        {% if content.image %}
                            <img src="{{ content.image.thumb(670, 370, {"mode": "crop"}) }}" alt="{{ image.description }}" class="img-fluid rounded-4">
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="category {{ category.name ? 'with-name' }} mt-32 pt-32 border-top border-1 border-tertiary border-opacity-07 mt-xl-5 pt-xl-5">
                    <h2 class="h3 mb-32">
                        {{ category.title }}
                    </h2>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-lg-5 row-cols-xl-4">
                        {% if category.name %}
                            <div class="col">
                                <div class="p-4 rounded-3 bg-gray">
                                    {% partial "contact" contact=category %}
                                </div>
                            </div>
                        {% endif %}

                        {% for contact in contacts.whereRelation("category", "slug", category.slug).get %}
                            <div class="contact col">
                                <div class="p-4">
                                    {% partial "contact" contact=contact %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
